# Install pre-commit hooks via
# pre-commit install

exclude: >
    (?x)^(
      \.vscode/settings\.json|
      tests/test_commonmark/commonmark\.json|
      .*\.xml|
      tests/.*/.*\.md
    )$

repos:

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    - id: check-json
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/mgedmin/check-manifest
    rev: "0.46"
    hooks:
    - id: check-manifest
      args: [--no-build-isolation]
      additional_dependencies: [setuptools>=46.4.0]

  - repo: https://github.com/timothycrosley/isort
    rev: 5.8.0
    hooks:
    - id: isort

  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
    - id: black

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-comprehensions
        - flake8-bugbear
        # - flake8-self~=0.2.2

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.812
    hooks:
    - id: mypy
      args: [--config-file=setup.cfg]
      additional_dependencies:
      - sphinx~=3.3
      - markdown-it-py>=1.0.0,<2.0.0
      - mdit-py-plugins~=0.2.4
      files: >
        (?x)^(
            myst_parser/.*py|
        )$

  # this is not used for now,
  # since it converts myst-parser to myst_parser and removes comments
  # - repo: https://github.com/asottile/setup-cfg-fmt
  #   rev: v1.17.0
  #   hooks:
  #   - id: setup-cfg-fmt
