exclude docs
recursive-exclude docs *
exclude tests
recursive-exclude tests *

exclude .pre-commit-config.yaml
exclude .readthedocs.yml
exclude tox.ini
exclude codecov.yml
exclude example-include.md

include LICENSE
include README.md
include CHANGELOG.md

include myst_parser/py.typed
