/** Add a counter before subsections **/
h1 {
    counter-reset: subsection;
    text-decoration: underline;
}
h2 {
    counter-reset: subsubsection;
}
h2::before {
    counter-increment: subsection;
    content: counter(subsection) ". ";
}
h3::before {
    counter-increment: subsubsection;
    content: counter(subsection) "." counter(subsubsection) ". ";
}

/** No icon for admonitions with no-icon class */
.admonition > .admonition-title, div.admonition.no-icon > .admonition-title::before {
    content: "";
}
.admonition > .admonition-title, div.admonition.no-icon > .admonition-title {
    padding-left: .6rem;
}
