/** Add a counter before subsections **/
h1 {
    text-decoration: underline;
}

/** No icon for admonitions with no-icon class */
.admonition > .admonition-title, div.admonition.no-icon > .admonition-title::before {
    content: "";
}
.admonition > .admonition-title, div.admonition.no-icon > .admonition-title {
    padding-left: .6rem;
}
